<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\website\App_Data\mindb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      
      <httpRuntime targetFramework="4.5.1" maxRequestLength="25600"/>

      <sessionState mode="InProc" />
      <authentication mode="Forms" >
       </authentication>
     
    </system.web>

 
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
   
 
  
</configuration>
